# --- Critical Pre-requisite ---
# NumPy is required here to ensure it is installed before pyradiomics 
# starts compiling during the Read the Docs build process.
numpy

# --- Sphinx Documentation Tools ---
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-programoutput
nbsphinx
IPython